#nav-bar {
    position: fixed;
    left: 0;
}

#header-img {
    max-width: 100%;
    display: block;
    height: 34px;
}

ul {
    list-style-type: none;
    /* overflow: hidden; */
    /* margin: 0;
    padding: 0; */
    background-color: #D6CE93;
    /* opacity: 1; */
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    /* border-right: 1px solid #bbb; */
}

.navlink {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

#logo {
    padding: 9px 26px 9px 26px;
}

li a:hover {
    background-color: #A3A380;
    color: white;
}


main {
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
}


.pic {
    height: 400px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;

 }
